* {
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.nav {
  position: fixed;
  width: 100%;
  height: 4em;
  background-image: url(../Images/image_geometry_1.png);
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 74px;
  display: flex;
  justify-content: flex-end;
}

.navlinks {
  display: none;
  width: 45%;
  text-align: right;
  flex: 1;
}

.navlinks ul {
  margin: auto;
  padding: 0;
}

.navlinks li {
  display: inline-block;
  position: relative;
  padding: 20px;
  margin: auto;
}

.navlinks a {
  color: #1a2236;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

.menu a {
  display: inline-block;
  margin: 1em;
}

.menu img {
  height: 14px;
  width: 20px;
}

.homewrp,
.aboutwrpr {
  padding-top: 63px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.maintitle {
  width: 100%;
}

.mtitle {
  padding-left: 0.5em;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.projtitle h1 {
  position: static;
  transform: rotate(-90deg);
  width: 330px;
  height: 330px;
}

.mtext {
  margin: auto 1.5em;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
}

.collabbutton {
  margin: 2em 0;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  height: 50px;
  width: 300px;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.collabbutton img {
  width: 25px;
  height: auto;
  margin-left: 10px;
}

.collabbutton:hover {
  background: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
}

.collabbutton:active {
  border: 2px solid #1a2236;
}

.decoimg {
  margin: 2em 0;
  height: 100%;
  width: 100%;
  background-image: url(../Images/image_geometry_2.png);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center center;
  background-size: 100%;
  padding-bottom: 50%;
}

.decoimgdsktp {
  display: none;
  min-height: 600px;
  width: 50%;
  background-image: url(../Images/image-geometry_1-dsktp.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  background-size: cover;
}

.works {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.project {
  display: flex;
  flex-wrap: wrap;
}

.projectimg {
  width: 100%;
  height: auto;
}

.projectwrp {
  background-color: #1a2236;
  width: 100%;
}

.projtxt {
  margin-bottom: 0.5em;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
}

.projlang {
  margin-left: 20px;
}

.projlang ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.projlang li {
  margin-right: 10px;
}

.smallbtn {
  box-sizing: border-box;
  padding: 1px 6px;
  border: 0;
  cursor: pointer;
  background: #98dede;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 80%;
  text-align: center;
  color: #1a2236;
  height: 20px;
}

.smallbtn:hover {
  background: #fff;
  color: #1a1a1a;
}

.smallbtn:active {
  background: #98dede;
  color: #1a2236;
}

.projbtn {
  margin: 1.25em 0 1.25em 1em;
  padding: 9px 18px 9px 9px;
  box-sizing: border-box;
  cursor: pointer;
  height: 50px;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}

.projbtn img {
  width: 20px;
  height: auto;
  margin-left: 10px;
}

.projbtn:hover {
  background: #fff;
  color: #1a2236;
}

.projbtn:active {
  border: 2px solid #1a2236;
}

.about {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}

.contain {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lang,
.frames,
.skills {
  margin-bottom: 1em;
  background-image: url(../Images/languages.png);
  background-position: right bottom;
  background-size: 50%;
  background-repeat: no-repeat;
  width: 90%;
  height: 20em;
  background-color: #1c528a;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.frames {
  background-image: url(../Images/frameworks.png);
  background-color: #e2505c;
}

.skills {
  background-image: url(../Images/skills.png);
  background-color: #febf52;
}

.litxt {
  font-style: normal;
  width: 90%;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
  list-style-position: inside;
}

.sectitle {
  margin-top: 1.5em;
  padding-left: 2em;
  font-style: normal;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.contact {
  background-color: #f9f9fa;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
}

.topimg {
  margin: 0;
  height: 74px;
  width: 100%;
  background-image: url(../Images/image_geometry_1.png);
  background-repeat: no-repeat;
  background-color: #f9f9fa;
  background-position: top left;
  background-size: 74px;
}

.contact form {
  width: 99%;
  margin: 1em 1em;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contactform {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.contactform input,
textarea {
  border: 0;
  box-sizing: border-box;
  width: 98%;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #1a2236;
}

.contactform ::placeholder {
  color: #7d7c84;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.contactform li {
  width: 100%;
  margin-top: 0.5em;
  background-color: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
}

.contactform label {
  padding-left: 10px;
  background-color: #fff;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: #7d7c84;
}

.footer {
  background-color: #1a2236;
  padding: 0;
  margin: 0;
  height: 150px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}

.getlink {
  width: 160px;
  background-image: url(../Images/ic_link_teal.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 22px;
  margin-right: 5rem;
}

.getlink a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #92dcdc;
  text-decoration: none;
}

.socialinks {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 0.5em;
  padding: 0;
}

.socialinks li {
  display: inline-block;
  padding: 0;
}

.socialinks img {
  height: 50%;
  width: auto;
}

@media screen and (min-width: 768px) {
  .nav {
    box-shadow: 0 0.5px 0 #dddfe6;
    background-image: none;
    justify-content: center;
    align-items: center;
  }

  .menu {
    display: none;
  }

  .navlinks {
    display: flex;
  }

  .homesection {
    display: flex;
  }

  .homewrp,
  .aboutwrpr {
    width: 50%;
    padding-left: 70px;
    justify-content: space-between;
  }

  .maintitle {
    width: 100%;
  }

  .mtitle {
    font-size: 90px;
    line-height: 90px;
    padding: 0;
  }

  .maintxt {
    width: 90%;
  }

  .mtext {
    margin: 0;
  }

  .decoimg {
    display: none;
  }

  .decoimgdsktp {
    display: block;
  }

  .project {
    width: 20%;
  }

  .projectwrp {
    display: none;
  }

  .about {
    width: 70%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }

  .aboutwrpr {
    
  }

  .contain {
    width: 50%;
  }
}
