* {
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.nav {
  height: 4em;
  background-image: url(../Images/image_geometry_1.png);
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 74px;
  display: flex;
  justify-content: flex-end;
}

.menu a {
  display: inline-block;
  margin: 1em;
}

.menu img {
  height: 14px;
  width: 20px;
}

.homesection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.maintitle {
  width: 100%;
}

.mtitle {
  padding-left: 0.5em;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.mtext {
  margin: auto 1.5em;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
}

.collabbutton {
  margin: 2em 0;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  height: 50px;
  width: 300px;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.collabbutton img {
  width: 25px;
  height: auto;
  margin-left: 10px;
}

.collabbutton:hover {
  background: #fff;
  color: #1a2236;
  border: 1px solid #1a2236;
}

.collabbutton:active {
  border: 2px solid #1a2236;
}

.decoimg {
  margin: 2em 0;
  height: 100%;
  width: 100%;
  background-image: url(../Images/image_geometry_2.png);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center center;
  background-size: 100%;
  padding-bottom: 50%;
}

.works {
  display: grid;
}

.project {
  display: flex;
  flex-wrap: wrap;
}

.projectimg {
  width: 100%;
  height: auto;
}

.projectwrp {
  background-color: #1a2236;
  width: 100%;
}

.projtxt {
  margin-bottom: 0.5em;
  padding-left: 1em;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
}

.projlang {
  margin-left: 1em;
}

.projlang ul {
  display: flex;
  width: 75%;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.smallbtn {
  box-sizing: border-box;
  padding: 1px 6px;
  border: 0;
  cursor: pointer;
  background: #98dede;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 80%;
  text-align: center;
  color: #1a2236;
  height: 20px;
}

.smallbtn:hover {
  background: #fff;
  color: #1a1a1a;
}

.smallbtn:active {
  background: #98dede;
  color: #1a2236;
}

.projbtn {
  margin: 1.25em 0 1.25em 1em;
  padding: 9px 18px 9px 9px;
  box-sizing: border-box;
  cursor: pointer;
  height: 50px;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}

.projbtn img {
  width: 20px;
  height: auto;
  margin-left: 10px;
}

.projbtn:hover {
  background: #fff;
  color: #1a2236;
}

.projbtn:active {
  border: 2px solid #1a2236;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.lang {
  margin-bottom: 1em;
  background-image: url(../Images/languages.png);
  background-position: right bottom;
  background-size: 50%;
  background-repeat: no-repeat;
  width: 90%;
  height: 20em;
  background-color: #1c528a;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.frames {
  margin-bottom: 1em;
  background-image: url(../Images/frameworks.png);
  background-position: right bottom;
  background-size: 50%;
  background-repeat: no-repeat;
  width: 90%;
  height: 20em;
  background-color: #e2505c;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.skills {
  margin-bottom: 1em;
  background-image: url(../Images/skills.png);
  background-position: right bottom;
  background-size: 50%;
  background-repeat: no-repeat;
  width: 90%;
  height: 20em;
  background-color: #febf52;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.litxt {
  font-style: normal;
  width: 90%;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
  list-style-position: inside;
}

.sectitle {
  margin-top: 1.5em;
  padding-left: 2em;
  font-style: normal;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
