* {
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  margin: auto;
  padding: 0;
  width: 100vw;
  z-index: 0;
}

.contact-link:link {
  color: #febf52;
  font-weight: 200;
  font-size: 1rem;
  transition: all 150ms ease-in;
}

.contact-link:visited {
  color: #febf52;
}

.contact-link:hover {
  color: #1c528a;
}

.nav {
  position: fixed;
  width: 100%;
  height: 4em;
  background-image: url(../Images/image_geometry_1.png);
  background-repeat: no-repeat;
  background-color: #fffffff9;
  background-size: 74px;
  display: flex;
  justify-content: flex-end;
  z-index: 3;
}

.navlinks {
  display: block;
  position: fixed;
  top: -100%;
  width: 100%;
  height: 50%;
  text-align: center;
  background-color: #fff;
  background-image:
    url(../Images/mobile-menu-geometric1.svg),
    url(../Images/mobile-menu-geometric.svg),
    url(../Images/menu-dots.svg),
    url(../Images/menu-dots.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom center, top 10% right 20%, bottom 30% left 20%;
  background-size: 30%, 100%, 15%, 15%;
  z-index: 99;
  opacity: 90%;
  transition: all 750ms ease-in-out;
}

.navlinks.active {
  opacity: 99%;
  top: 0;
  height: 100vh;
}

.navlinks ul {
  display: flex;
  flex-direction: column;
  margin: 20vh auto;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.navlinks li {
  display: inline-block;
  position: relative;
  padding: 20px;
}

.nav-link {
  color: #1a2236;
  text-decoration: none;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
}

.navlinks li::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #febf52;
  display: block;
  margin: auto;
  transition: all 250ms ease-out;
}

.navlinks li:hover::after {
  width: 100%;
}

div.mobile-menu {
  cursor: pointer;
  position: absolute;
  right: 1.5em;
  top: 1em;
  z-index: 199;
}

div.modal-menu-close {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 1.5em;
  top: 1em;
}

span.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  opacity: 99%;
  background-color: #1a2236;
  -webkit-transition: all 750ms ease-out;
  transition: all 750ms ease-out;
}

div.modal-menu-close span.bar:nth-child(1) {
  background-color: #e45865;
  transform: translateY(8px) rotate(135deg);
}

div.modal-menu-close span.bar:nth-child(2) {
  opacity: 0;
}

div.modal-menu-close span.bar:nth-child(3) {
  background-color: #e45865;
  transform: translateY(-8px) rotate(-135deg);
}

div.mobile-menu.active span.bar:nth-child(1) {
  background-color: #e45865;
  transform: translateY(8px) rotate(135deg);
}

div.mobile-menu.active span.bar:nth-child(2) {
  opacity: 0;
}

div.mobile-menu.active span.bar:nth-child(3) {
  transform: translateY(-8px) rotate(-135deg);
  background-color: #e45865;
}

.homesection {
  display: flex;
  flex-wrap: wrap;
}

.homewrp,
.aboutwrpr {
  width: 100%;
  margin: 1% 5%;
  padding-top: 63px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.maintitle {
  width: 100%;
}

.mtitle {
  padding-left: 0.5em;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.mtext,
.mtext-mod {
  margin: auto 1.5em;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: justify;
}

.collabbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 300px;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.collabbutton img {
  width: 25px;
  height: auto;
  margin-left: 10px;
}

.collabbutton:hover {
  background: #fff;
  color: #1a2236;
  border: 2px solid #1a2236;
}

.collabbutton:active {
  border: 2px solid #1a2236;
}

.decoimg {
  margin: 2em 0;
  height: 100%;
  width: 100%;
  background-image: url(../Images/image_geometry_2.png);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center center;
  background-size: 100%;
  padding-bottom: 50%;
}

.decoimgdsktp {
  display: none;
  width: auto;
  height: 100vh;
  max-height: 810px;
  max-width: 603px;
  background-image: url(../Images/image-geometry_1-dsktp.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center center;
  background-size: contain;
  flex: 1 1 60%;
}

#works {
  display: flex;
  flex-wrap: wrap;
}

.works {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 20px;
  flex: 1 0 60%;
}

.projtitle {
  width: auto;
}

.deco0,
.deco1,
.deco2,
.deco3,
.deco4 {
  display: none;
}

.project {
  width: 100%;
  grid-column: span 12;
  display: flex;
  flex-wrap: wrap;
}

.projectimg {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.projectwrp {
  background-color: #1a2236;
  width: 100%;
}

.projtxt {
  margin-bottom: 0.5em;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
}

.projlang {
  margin-top: 12px;
  margin-left: 20px;
}

.projlang ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.projlang li {
  margin-right: 10px;
}

.smallbtn {
  box-sizing: border-box;
  padding: 2px 6px 1px;
  border: 0;
  background: #98dede;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 80%;
  text-align: center;
  color: #1a2236;
  height: 20px;
}

.projbtn,
.projbtn-mod,
.projbtn-mod-src {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../Images/arrow.png);
  background-color: #1a2236;
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 20px;
  margin: 1em 0 1.25em 1.2em;
  box-sizing: border-box;
  cursor: pointer;
  height: 50px;
  width: fit-content;
  padding-left: 2em;
  padding-right: 5em;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border: 1px solid #fff;
}

.projbtn-mod,
.projbtn-mod-src {
  background-image: url(../Images/ic_link.svg);
  background-color: #ffffff;
  color: #1a2236;
  border: 1px solid #1a2236;
  width: 15em;
  margin: 0.75em 2em;
}

.projbtn-mod-src {
  background-image: url(../Images/ic_github_white.svg);
}

.projbtn:hover {
  background: #ededed;
  color: #1a2236;
}

.projbtn-mod:hover,
.projbtn-mod-src:hover {
  background-image: url(../Images/ic_github.png);
  background-color: #1a2236;
  color: #fff;
}

.projbtn-mod:hover {
  background-image: url(../Images/ic_download.png);
}

.projbtn:active {
  border: 2px solid #1a2236;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-color: #1c528a;
  opacity: 40%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 250ms ease-in-out;
}

.modal-overlay.active {
  background-color: #fff;
  opacity: 100%;
  left: 0;
}

.proj-wrp-mod {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0;
  height: fit-content;
  padding: 0;
  width: 100%;
}

.projtxt-mod {
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 1.5em;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: #1a2236;
}

.projlang-mod {
  margin-top: 12px;
  margin-left: 45px;
}

.projlang-mod ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.projlang-mod li {
  margin-right: 10px;
}

.smallbtn-mod {
  box-sizing: border-box;
  padding: 2px 6px 1px;
  border: 1px solid #1a2236;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 80%;
  text-align: center;
  color: #1a2236;
  height: 20px;
}

.projectimg-mod {
  margin: 1em auto;
  width: 90%;
  max-width: 700px;
  align-self: center;
  background-color: #1c528a;
}

.mod-wrpr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.about {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}

.contain {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin-bottom: 1em;
  background-image: url(../Images/languages.png);
  background-position: right bottom;
  background-size: 50%;
  background-repeat: no-repeat;
  width: 90%;
  height: 20em;
  background-color: #1c528a;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.frames {
  background-image: url(../Images/frameworks.png);
  background-color: #e2505c;
}

.skills {
  background-image: url(../Images/skills.png);
  background-color: #febf52;
}

.litxt {
  font-style: normal;
  width: 90%;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #fff;
  list-style-position: inside;
}

.sectitle {
  margin-top: 1.5em;
  padding-left: 2em;
  font-style: normal;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.contact {
  background-color: #f9f9fa;
  display: flex;
  flex-wrap: wrap;
}

.topimg {
  margin: 0;
  height: 80px;
  width: 100%;
  background-image: url(../Images/image_geometry_1.png);
  background-repeat: no-repeat;
  background-color: #f9f9fa;
  background-position: top left;
  background-size: contain;
}

.bottomimg {
  display: none;
  margin: 0;
  height: auto;
  width: auto;
  background-image: url(../Images/image-geometry_7.png);
  background-repeat: no-repeat;
  background-color: #f9f9fa;
  background-position: bottom right;
  background-size: 100%;
}

.contactctn {
  width: auto;
  margin-top: 70px;
}

.contactctn form {
  margin: 1em 1em;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

#inputsform {
  display: flex;
}

.contactform {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.contactform input,
textarea {
  border: 0;
  box-sizing: border-box;
  width: 98%;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #1a2236;
}

.contactform ::placeholder {
  color: #7d7c84;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.contactform li {
  width: 100%;
  margin-top: 0.5em;
  background-color: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
}

.contactform label {
  padding-left: 10px;
  background-color: #fff;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: #7d7c84;
}

.footer {
  background-color: #1a2236;
  padding: 0;
  margin: 0;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-left: 2rem;
}

.getlink {
  width: 160px;
  background-image: url(../Images/ic_link_teal.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 22px;
  margin-right: 5rem;
}

.getlink a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #92dcdc;
  text-decoration: none;
}

.socialinks {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 0.5em;
  padding: 0;
}

.socialinks li {
  display: inline-block;
  padding: 0;
  width: fit-content;
  height: auto;
}

.socialinks img {
  height: 50%;
  width: auto;
  transition: all 0.15s ease-in-out;
}

.socialinks img:hover{
  transform: scale(1.2);
  opacity: 0.72;
}

.email_error {
  background-color: #e2505c;
}

@media screen and (min-width: 768px) {
  .nav {
    box-shadow: 0 0.5px 0 #dddfe6;
    background-image: none;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu {
    display: none;
  }

  .navlinks {
    position: relative;
    height: 60px;
    background-image: none;
    flex: 1;
    top: 0;
    opacity: 100%;
  }

  .navlinks ul {
    width: 36%;
    flex-direction: row;
    padding: 0;
    margin: auto;
  }

  .nav-link {
    font-size: 12px;
    font-weight: 400;
  }

  .homesection {
    padding-top: 65px;
    padding-bottom: 30px;
    margin-bottom: 60px;
    flex-wrap: nowrap;
    height: auto;
  }

  .homewrp,
  .aboutwrpr {
    width: 50%;
    margin: 20px 40px;
    padding-left: 70px;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 0 1 50%;
  }

  .maintitle {
    width: 100%;
  }

  .mtitle {
    font-size: 90px;
    font-weight: 500;
    line-height: 90px;
    padding: 1px;
  }

  .maintxt {
    width: 90%;
  }

  .mtext {
    margin: 2rem 0;
  }

  .mtext-mod {
    margin: none;
    width: 100%;
    text-align: center;
  }

  .decoimg {
    display: none;
  }

  .decoimgdsktp {
    display: block;
  }

  .works {
    margin: 0;
    padding: 0;
  }

  .project {
    width: auto;
    grid-column: span 4;
    grid-row: span 1;
  }

  .projtitle {
    width: auto;
    background-image: url(../Images/image_dots.svg);
    background-repeat: no-repeat;
    background-position: right top;
    grid-column: span 5;
    grid-row: span 1;
  }

  .projtitle h1 {
    position: static;
    transform: rotate(-90deg);
    text-align: center;
  }

  .projectwrp {
    display: none;
    grid-column: span 6;
    grid-row: span 2;
  }

  .mproj {
    display: block;
  }

  .deco0,
  .deco1,
  .deco2,
  .deco3,
  .deco4,
  .deco5,
  .deco6,
  .deco7,
  .deco8,
  .deco9 {
    display: block;
    height: auto;
    width: auto;
    grid-column: span 2;
    grid-row: span 1;
    background-image: url(../Images/deco2.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
  }

  .deco2,
  .deco7 {
    background-image: url(../Images/deco1.png);
    background-position: center;
  }

  .deco3,
  .deco6 {
    background-image: url(../Images/deco3.png);
    grid-column: span 2;
    grid-row: span 1;
    background-repeat: no-repeat;
    background-position: top center;
  }

  .deco4,
  .deco9 {
    background-image: url(../Images/deco4.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    grid-column: span 1;
    grid-row: span 1;
  }

  .deco5,
  .deco8 {
    grid-column: span 1;
    background-image: url(../Images/deco5.png);
    background-position: top;
    background-repeat: no-repeat;
  }

  .modal-overlay,
  .modal-overlay.active {
    align-items: center;
    background-color: #1a2236eb;
  }

  .proj-wrp-mod {
    width: 90%;
    height: 90%;
    border-radius: 0.5rem;
    padding: 1.5rem;
    overflow-y: auto;
    max-width: 900px;
  }

  .projtxt-mod {
    font-weight: 700;
    margin-bottom: 0;
  }

  .projectimg-mod {
    margin: 1.5em;
    box-shadow: 3px 4px 5px #8995b5;
  }

  .projbtn-mod,
  .projbtn-mod-src {
    padding-left: 2em;
    justify-content: flex-start;
  }

  .about {
    margin-top: 180px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }

  .aboutwrpr {
    padding: 0;
    margin: 0 0 0 60px;
    width: 40%;
  }

  .contain {
    width: 30%;
    margin: 30px 20px 30px 90px;
  }

  .card,
  .dots {
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    flex: 1 0 50%;
  }

  .card li {
    list-style: outside;
  }

  .sectitle {
    font-size: 13px;
  }

  .litxt ul {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 11px;
    font-weight: 200;
    line-height: 14px;
  }

  .dots {
    background-image: url(../Images/image_dots.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: right bottom;
    width: auto;
    height: auto;
    flex: 1 0 50%;
  }

  .contact {
    height: auto;
    flex-wrap: nowrap;
    margin-top: 180px;
    margin-bottom: 0;
  }

  .topimg {
    height: auto;
    background-image: url(../Images/image-geometry_6.png);
    background-repeat: no-repeat;
    background-color: #f9f9fa;
    background-position: top left;
    background-size: 100%;
    flex: 1 1 20%;
  }

  .bottomimg {
    display: block;
    flex: 1 1 20%;
  }

  .contactctn {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 18%;
    justify-content: center;
    align-items: center;
    flex: 1 1 60%;
  }

  .contactctn h1 {
    font-size: 70px;
    text-align: center;
  }
}
